@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-[#F3F3F1] text-[#1E1E1E];
  }
}

/* Custom scrollbar for enterprise dense tables */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #c1c1c1;
  border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
  background: #a8a8a8;
}

.leaflet-container {
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
  z-index: 1;
}
